{% extends 'app/base.html' %}

{% block title %}Search{% endblock %}
{% block content %}
    <div class="container">
        {% if search %}
            {% for foo in search %}
                <h2><a href="{% url 'about' foo.pk %}">{{ foo.title }}</a></h2>
            {% endfor %}
        {% else %}
            <div class="col-5 mt-3">
                <h5>Не найденно совпадений по запросу <h3>>>>{{ search_name }}<<<<</h3></h5>
                <form class="d-flex" role="search" action="{% url 'search' %}">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}